* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 10px;
}
body {
  display: flex;
  flex-direction: column;
  gap: 50px;
  height: 100vh;
  padding: 20px;
  font-family: "inter";
}
main {
  flex: 1;
}
header {
  display: flex;
  justify-content: space-between;
}
.img > img {
  max-width: 100%;
  min-width: 375px;
}
#menu {
  width: 80px;
  height: 40px;
  margin-left: auto;
}
.ul {
  display: none;
}
.head > h1 {
  font-size: 5.6rem;
  /* width: 375px;
  height: 164px; */
  font-weight: 800;
}
.pandbutt > p {
  margin-top: 10px;
  font-size: 1.5rem;
  /* height: 104px;
  width: 380px; */
  color: #5d5f79;
  line-height: 1.5;
  letter-spacing: 0.5px;
}
.pandbutt > button {
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #f15e50;
  color: white;
  letter-spacing: 2px;
  font-size: 1.4rem;
  width: 185px;
  height: 42px;
  border: none;
  outline: none;
  font-weight: 700;
}
.pandbutt > button:hover {
  background-color: blue;
}
.new {
  /* margin-top: 50px; */
  background-color: black;
  /* width: 375px; */
  height: 600px;
  padding: 20px;
}
h2 {
  color: #e9ab53;
  font-size: 4rem;
  font-weight: 750;
  margin: 0px 0px 32px;
}
.new a {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
  font-weight: 700;
}
.new a:hover {
  color: #e9ab53;
}
.ul li a:hover {
    color: #e9ab53;
}
.new p {
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  /* width: 327px; */
  padding-top: 20px;
  padding-bottom: 100px;
  height: 52px;
  line-height: 30px;
  border-bottom: #5d5f79 1px solid;
  margin-bottom: 30px;
}
#last {
  border: none;
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 80px;
}
.footer1 {
  display: flex;
  gap: 30px;
  align-items: center;
}
.foot-img > img {
  width: 10rem;
  height: 12.7rem;
}
h4 {
  color: #c5c6ce;
  font-size: 3.2rem;
  font-weight: 900;
  margin-bottom: 10px;
  letter-spacing: 3px;
}
.foot-desc > a {
  text-decoration: none;
  color: black;
  font-size: 1.8rem;
  font-weight: 800;
}
.foot-desc > a:hover {
  color: #e9ab53;
}
.foot-desc > p {
  margin-top: 20px;
  color: #5d5f79;
  font-size: 1.5rem;
  line-height: 20px;
}
@media screen and (min-width: 600px) {
  #menu {
    display: none;
  }
  .ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    margin-top: 15px;
  }
  .ul li a {
    text-decoration: none;
    color: #5d5f79;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 775px) {
  .footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
    grid-area: footer;
  }
  .footer1 {
    flex: 1;
    display: flex;
    gap: 15px;
  }
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
      "left new"
      "footer footer";
    gap: 30px;
    align-content: start;
  }
  .left-card {
    grid-area: left;
  }
  .new {
    grid-area: new;
  }
  .footer {
    grid-area: footer;
  }
}
@media screen and (min-width: 985px) {
  .left-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px 20px;
    align-self: start;
    grid-template-areas: 
    "img img"
    "head pandb"
    
    ;
  }
  .img {
    grid-area: img;
    width: 100%;
  }
  .head {
    margin: 0;
    grid-area: head;
    grid-column: 1;
  }
  .pandbutt {
    margin: 0;
    grid-area: pandb;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}
