* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    font-size: 10px;
}
body {
  height: 100vh;
  padding: 20px;
  font-family: 'inter';
}
main > img {
  width: 375px;
  height: 154px;
}
h1 {
    font-size: 5.6rem;
    width: 375px;
    height: 164px;
    font-weight: 800;
}
main > p {
    margin-top: 50px;
font-size: 1.5rem;
height: 104px;
width: 380px;
color: #5d5f79;
line-height: 1.5;
letter-spacing: 0.5px;
}
main > button {
    background-color: #f15e50;
    color: white;
    letter-spacing: 2px;
    font-size: 1.4rem;
    width: 185px;
    height: 42px;
    border: none;
    outline: none;
    font-weight: 700;
}
.new {
    margin-top: 50px;
    background-color: black;
    width: 375px;
    height: 500px;
    padding: 20px;
}
h2 {
    color: #e9ab53;
    font-size: 4rem;
    font-weight: 750;

}
.new a {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;

}
